@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon/icomoon.eot?6428a8');
  src:  url('./fonts/icomoon/icomoon.eot?6428a8#iefix') format('embedded-opentype'),
    url('./fonts/icomoon/icomoon.ttf?6428a8') format('truetype'),
    url('./fonts/icomoon/icomoon.woff?6428a8') format('woff'),
    url('./fonts/icomoon/icomoon.svg?6428a8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suporte:before {
  content: "\e90a";
}
.icon-atualizacao:before {
  content: "\e90b";
}
.icon-integracao:before {
  content: "\e90c";
  color: #279fd5;
}
.icon-calculadora:before {
  content: "\e90f";
}
.icon-city:before {
  content: "\e906";
}
.icon-emblem:before {
  content: "\e907";
}
.icon-monitor:before {
  content: "\e908";
}
.icon-telemarketing:before {
  content: "\e909";
}
.icon-money:before {
  content: "\e900";
}
.icon-dfe:before {
  content: "\e901";
}
.icon-academy:before {
  content: "\e902";
}
.icon-certificado:before {
  content: "\e903";
}
.icon-auditor:before {
  content: "\e904";
}
.icon-mobile:before {
  content: "\e905";
}
